@use "./variables" as *;
@use "./mixins" as *;


body {
    font-family: "OpenSans", "NotoSansSC", sans-serif;
}

.marchant-btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: $secondary-orange;
    color: $primary-white;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px $primary-white;
      }
    
      &:active {
        transform: translateY(1px);
        box-shadow: 0 2px 5px $primary-white;
      }
  }

.modal-actions {
display: flex;
gap: 1rem;
justify-content: flex-end;
}

