$primary-black: #252422;
$primary-white: #FFFCF2;
$primary-beige: #CCC5B9;
$primary-light-brown: #695c45;
$primary-brown: #403D39;
$primary-orange: #EB5E28;

$secondary-white: #FAF7F0;
$secondary-beige: #D8D2C2;
$secondary-brown: #979388;
$secondary-black: #4A4947;
$secondary-orange: #B17457;

$color-pending: #E4C7C3;
$color-preparing: #E6F1ED;
$color-served: #DBD4C6;
$color-completed: #B3CAD8;

$font-default: "OpenSans";

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demi:600;
$font-weight-bold: 700;


$tablet-min-width: 768px;
$desktop-min-width: 1280px;

$sidebar-width-expanded: 200px;
$sidebar-width-collapsed: 64px;
$transition-speed: 0.3s;